---
Checks:          'clang-diagnostic-*,clang-analyzer-*,-*,performance-*,clang-analyzer-*,portability-*,cert-*,concurrency-*,readability-implicit-bool-conversion,modernize-use-bool-literals,modernize-use-override,modernize-use-emplace,modernize-return-braced-init-list,modernize-deprecated-headers,modernize-pass-by-value,readability-else-after-return,cppcoreguidelines-init-variables,cppcoreguidelines-interfaces-global-init,cppcoreguidelines-special-member-functions,cppcoreguidelines-slicing,bugprone-parent-virtual-call,bugprone-virtual-near-miss,fuchsia-virtual-inheritance,clang-analyzer-optin.cplusplus.VirtualCall,-cert-err58-cpp'
WarningsAsErrors: '*'
# all but third_party headers
HeaderFilterRegex: '((?!third_party).)*'
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
  - key:             performance-unnecessary-copy-initialization.ExcludedContainerTypes
    value:           ''
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           google
  - key:             performance-move-const-arg.CheckTriviallyCopyableMove
    value:           'true'
  - key:             cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
    value:           'false'
  - key:             cert-oop54-cpp.WarnOnlyIfThisHasSuspiciousField
    value:           'false'
  - key:             cert-err09-cpp.CheckThrowTemporaries
    value:           'true'
  - key:             cert-dcl16-c.NewSuffixes
    value:           'L;LL;LU;LLU'
  - key:             cert-dcl51-cpp.AggressiveDependentMemberLookup
    value:           'false'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             cert-dcl51-cpp.Invert
    value:           'false'
  - key:             cert-sig30-c.AsyncSafeFunctionSet
    value:           POSIX
  - key:             portability-simd-intrinsics.Suggest
    value:           'false'
  - key:             cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value:           'true'
  - key:             performance-for-range-copy.AllowedTypes
    value:           ''
  - key:             cert-dcl37-c.AllowedIdentifiers
    value:           ''
  - key:             modernize-use-override.IgnoreDestructors
    value:           'false'
  - key:             performance-inefficient-vector-operation.EnableProto
    value:           'false'
  - key:             modernize-use-emplace.ContainersWithPushBack
    value:           '::std::vector;::std::list;::std::deque'
  - key:             modernize-use-override.AllowOverrideAndFinal
    value:           'false'
  - key:             cert-err61-cpp.MaxSize
    value:           '10000'
  - key:             modernize-use-override.OverrideSpelling
    value:           override
  - key:             modernize-pass-by-value.ValuesOnly
    value:           'false'
  - key:             cert-str34-c.DiagnoseSignedUnsignedCharComparisons
    value:           'false'
  - key:             performance-inefficient-string-concatenation.StrictMode
    value:           'false'
  - key:             concurrency-mt-unsafe.FunctionSet
    value:           any
  - key:             readability-implicit-bool-conversion.AllowPointerConditions
    value:           'false'
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '1'
  - key:             portability-restrict-system-includes.Includes
    value:           '*'
  - key:             readability-else-after-return.WarnOnUnfixable
    value:           'true'
  - key:             cert-dcl51-cpp.AllowedIdentifiers
    value:           ''
  - key:             modernize-use-emplace.IgnoreImplicitConstructors
    value:           'false'
  - key:             cert-oop57-cpp.MemCpyNames
    value:           ''
  - key:             cert-err61-cpp.WarnOnLargeObjects
    value:           'false'
  - key:             cert-err09-cpp.WarnOnLargeObjects
    value:           'false'
  - key:             modernize-use-emplace.TupleTypes
    value:           '::std::pair;::std::tuple'
  - key:             modernize-use-emplace.TupleMakeFunctions
    value:           '::std::make_pair;::std::make_tuple'
  - key:             cppcoreguidelines-init-variables.IncludeStyle
    value:           google
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             performance-unnecessary-value-param.AllowedTypes
    value:           ''
  - key:             modernize-use-bool-literals.IgnoreMacros
    value:           'true'
  - key:             cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted
    value:           'false'
  - key:             cert-oop57-cpp.MemCmpNames
    value:           ''
  - key:             google-readability-namespace-comments.ShortNamespaceLines
    value:           '10'
  - key:             google-readability-namespace-comments.SpacesBeforeComments
    value:           '2'
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           'true'
  - key:             modernize-use-override.FinalSpelling
    value:           final
  - key:             cert-err61-cpp.CheckThrowTemporaries
    value:           'true'
  - key:             cert-err09-cpp.MaxSize
    value:           '10000'
  - key:             performance-faster-string-find.StringLikeClasses
    value:           'std::basic_string'
  - key:             cert-oop57-cpp.MemSetNames
    value:           ''
  - key:             readability-implicit-bool-conversion.AllowIntegerConditions
    value:           'false'
  - key:             performance-type-promotion-in-math-fn.IncludeStyle
    value:           google
  - key:             google-qualified-auto.AddConstToQualified
    value:           'false'
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             cppcoreguidelines-init-variables.MathHeader
    value:           '<math.h>'
  - key:             cert-str34-c.CharTypdefsToIgnore
    value:           ''
  - key:             google-readability-function-size.StatementThreshold
    value:           '800'
  - key:             google-else-after-return.WarnOnConditionVariables
    value:           'false'
  - key:             cert-msc51-cpp.DisallowedSeedTypes
    value:           'time_t,std::time_t'
  - key:             performance-no-automatic-move.AllowedTypes
    value:           ''
  - key:             performance-for-range-copy.WarnOnAllAutoCopies
    value:           'false'
  - key:             modernize-pass-by-value.IncludeStyle
    value:           google
  - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value:           'true'
  - key:             cert-dcl37-c.Invert
    value:           'false'
  - key:             cert-dcl37-c.AggressiveDependentMemberLookup
    value:           'false'
  - key:             readability-else-after-return.WarnOnConditionVariables
    value:           'true'
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             cert-dcl59-cpp.HeaderFileExtensions
    value:           ';h;hh;hpp;hxx'
  - key:             modernize-use-emplace.SmartPointers
    value:           '::std::shared_ptr;::std::unique_ptr;::std::auto_ptr;::std::weak_ptr'
  - key:             performance-inefficient-vector-operation.VectorLikeClasses
    value:           '::std::vector'
  - key:             performance-unnecessary-copy-initialization.AllowedTypes
    value:           ''
  - key:             portability-simd-intrinsics.Std
    value:           ''
  - key:             performance-unnecessary-value-param.IncludeStyle
    value:           google
  - key:             cert-dcl16-c.IgnoreMacros
    value:           'true'
  - key:             google-else-after-return.WarnOnUnfixable
    value:           'false'
  - key:             cert-msc32-c.DisallowedSeedTypes
    value:           'time_t,std::time_t'
...

