name: CD (vbk-ri-btc)

on:
  push:
    branches:
      - master

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.VBTC_REPO_TOKEN }}
          repository: VeriBlock/vbk-ri-btc
          event-type: update
          client-payload: '{"sha": "${{ github.sha }}", "actor": "${{ github.actor }}"}'
