name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  linux:
    runs-on: ubuntu-18.04
    container: veriblock/alt-integration-cpp-dev
    strategy:
      fail-fast: false
      matrix:
        flags: ["-DCLANG_TIDY=ON", "-DASAN=ON", "-DTSAN=ON"]
    env:
      CC: clang
      CXX: clang++
      CTEST_OUTPUT_ON_FAILURE: 1
    steps:
      - uses: actions/checkout@v1
        name: checkout
        with:
          submodules: true
          clean: true
      - name: cmake
        run: cmake . -Bbuild ${{ matrix.flags }}
      - name: build
        run: cmake --build build -- -j2
      - name: test
        env:
          CTEST_OUTPUT_ON_FAILURE: 1
        run: cmake --build build --target test


  windows:
    runs-on: windows-latest
    env:
      CTEST_OUTPUT_ON_FAILURE: 1
      VCPKG_DEFAULT_TRIPLET: x64-windows
    steps:
      - uses: actions/checkout@v1
        name: checkout
        with:
          submodules: true
          clean: true
          fetch-depth: 1

      - name: install vcpkg
        run: vcpkg integrate install

      - name: cache vcpkg packages
        uses: actions/cache@v1
        with:
          path: C:/vcpkg/packages
          key: ${{ runner.os }}-pack-${{ hashFiles('**/*.cmake') }}
          restore-keys: ${{ runner.os }}-pack-

      - name: cache vcpkg buildtrees
        uses: actions/cache@v1
        with:
          path: C:/vcpkg/buildtrees
          key: ${{ runner.os }}-build-${{ hashFiles('**/*.cmake') }}
          restore-keys: ${{ runner.os }}-build-

      - name: cache vcpkg triplets
        uses: actions/cache@v1
        with:
          path: C:/vcpkg/triplets
          key: ${{ runner.os }}-tripl-${{ hashFiles('**/*.cmake') }}
          restore-keys: ${{ runner.os }}-tripl-

      - name: install dependencies
        run: vcpkg install rocksdb

      - name: cmake
        run: cmake . -Bbuild -A x64 -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake
      - name: build
        run: cmake --build build --parallel 2
      - name: test
        run: cmake --build build --target RUN_TESTS
